@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab",serif;
    font-weight: bold;
}


header{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
}

.pag1{
    background: rgba(0, 0, 0, 0.932) url(./storage/img/placeYourImageHere0.png) center/ cover no-repeat ;
    height: 100vh;
    opacity: 0.85;
    background-blend-mode: darken;
}

.logo{
    margin-top: 30px;
    margin-right: 10px;
}

ul{
    list-style: none;
}

.left ul li{
    margin-left: 80px;
    margin-top: 50px;
}

.right ul li{
    margin-right: 110px;
    margin-top: 50px;
}

a{
    color: white;
    font-size: larger;
    text-decoration: none;
}

a:hover{
    color: #e58f00;
}

.img2{
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
}

.img2 img{
    width: 45%;
}

.cnt{
    margin-left:80px;
}

.title{
    margin-top: 50px;
}

.title, h2{
    font-size: 7vh;
    color: #e58f00;
}

h2{
    margin-bottom:20px ;
}

.cnt2{
    width: 70vh;
    font-size: 4vh;
}

.cntac{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    background-color: #e58f00;
    width: 180px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(29, 28, 28);
    font-weight: 700;
}

.contactop{
    color: black;
}

.contactop a:hover{
    cursor: pointer;
}


.pag2{
    display: flex;
    background-color:#17171e ;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.imgpag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 80%;
}

.imgpag2 img{
    width: 60vh;
    height: 70vh;
    margin-left: 35vh;
}

.content2{  
    width: 65vh;
    margin-bottom: 15%;
    margin-top: 20vh;
    margin-left: 10vh ;
}

.pp{
    margin-bottom: 10px;
    font-size: 6vh;
}

.pp1{
    font-size: 4vh;
}

.pag3{
    background-color:#17171e ;
    position: relative;
}


.png{
    display: flex;
    justify-content: center;
}

.png img{
    width: 100%;
}

.png1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

.png1{
    right: 0vh;
    top: -10vh;
    height: 100vh;
}

.png2{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 88vh;
    right: 0vh;
}

.png2{
    height: 135vh;
}

.png3{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 15vh;  
}

.png3 img{
    width: 60vh;
}

.titulazo{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50vh;
    margin-left: 20vh;
    width: 65vh;
}

.titulazo h1{
    margin-bottom: 2vh;
    font-size: 5vh;
}

.paragrap{
    font-size: 4vh;
}

.pag4{
    background-color: #17171e ;
    height: 140vh;
}

.hpag4{
    display: flex;
    justify-content: center;
}

.hpag4 h1{
    font-size: xxx-large;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gallerys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.images {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images li {
    margin: 10px;
}

.pag5{
    background: rgba(0, 0, 0, 0.932) url(./storage/img/placeYourImageHereOur0.png) center/ cover no-repeat ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titpag5{
    text-align: center;
    width: 50%;
    height: 70%;    
    background-color: #17171ed9;
    padding: 20px;
    border: 12px solid #e58f00;
    box-sizing: border-box;
}

.titpag5 h1{
    font-size: xxx-large;
    margin-top: 10%;
    margin-bottom: 3%;
}

.titpag5 p{
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.pag6{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17171e;
}

.titpag6 h1{
    font-size: xxx-large;
    margin-bottom: 3vh;
}


.menuimgs ul{
    margin-left: 10vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.menuimgs h1{
    margin-top: 5vh ;
    margin-bottom: 2vh;
    color: #e58f00;
}

.pepe{
    margin-bottom: 1vh;
    width: 45vh;
    margin-right: 5vh;
}


.menuimgs .pepe1{
    color: #e58f00;
}

.pag7{
    background-color: #e58f00;
    height: 50vh;
}



footer{
    background-color: #323239;;
    height: 50vh;
}

.divpag7{
    display: flex;
    justify-content: center;
}

.hpag7{
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    font-size: 5vh;
}


.Lorem7{
    margin-top: 2vh;
    width: 50vh;
    font-size: 4vh;
}

.imgpag7 img{
    display: flex;
    position: absolute;
    width: 70vh;
    margin-left: 0vh;
}

.logo7 {
    display: flex;
    justify-content: center;
}

.logo7 img{
    margin-top: 12vh;
}

.menu7 ul{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.menu7 a{
    margin-left: 3vh;
}

.iconos{
    display: flex;
    justify-content: center;
    height: 1vw;
    font-size: 2vw;
    margin-top: 1vw;
}

.bx{
    display: flex;
    justify-content: space-between;
    width: 4.5vw;
}

.bx:hover{
    cursor: pointer;
}